.container {
  padding: 0 2rem;
  background: red
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  display: flex;
  margin-left: 0.5rem;
  filter: drop-shadow(0 0 4px black);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.background {
  background: #1B1B1B;
}

.main a:hover {
  color: rgb(255, 255, 255);
}

.main a {
  color: rgb(138, 138, 138);
  margin: 5px 0;
  transition: color .2s ease-in-out;
}

.main ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 750px;
}

.main hr {
  opacity: 0;
  width: 0;
  transition: .6s width ease-out, opacity 1s ease-out;
}

.main li:hover > hr {
  opacity: 1;
  width: 100%;
  transition: .6s width ease-out, opacity 1s ease-out;
}

.main li:hover > .navbar a {
  color: white;
}

.main span {
  color: white;
}

.navbar {
  display: inline-flex;
  justify-content: space-between;
  font-weight: light;
  position: absolute;
  top: 0;
}


.credits {
  display: flex;
  flex: 1;
  height: 50px;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

.credits a {
  color: white;
  display: flex;
  justify-content: center;
}

.find-out-more-icon {
  cursor: pointer
}